# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ChineseCalendar.iml
/target/test-classes/data/wenzhen/1900.json
/target/nexus-staging/deferred/.index
/target/test-classes/data/1899-1909.json
/target/test-classes/data/wenzhen/1901.json
/target/test-classes/data/wenzhen/1902.json
/target/test-classes/data/wenzhen/1903.json
/target/test-classes/data/wenzhen/1904.json
/target/test-classes/data/wenzhen/1905.json
/target/test-classes/data/wenzhen/1906.json
/target/test-classes/data/wenzhen/1907.json
/target/test-classes/data/wenzhen/1908.json
/target/test-classes/data/wenzhen/1909.json
/target/test-classes/data/wenzhen/1910.json
/target/test-classes/data/wenzhen/1911.json
/target/test-classes/data/wenzhen/1912.json
/target/test-classes/data/wenzhen/1913.json
/target/test-classes/data/wenzhen/1914.json
/target/test-classes/data/wenzhen/1915.json
/target/test-classes/data/wenzhen/1916.json
/target/test-classes/data/wenzhen/1917.json
/target/test-classes/data/wenzhen/1918.json
/target/test-classes/data/wenzhen/1919.json
/target/test-classes/data/wenzhen/1920.json
/target/test-classes/data/wenzhen/1921.json
/target/test-classes/data/wenzhen/1922.json
/target/test-classes/data/wenzhen/1923.json
/target/test-classes/data/wenzhen/1924.json
/target/test-classes/data/wenzhen/1925.json
/target/test-classes/data/wenzhen/1926.json
/target/test-classes/data/wenzhen/1927.json
/target/test-classes/data/wenzhen/1928.json
/target/test-classes/data/wenzhen/1929.json
/target/test-classes/data/wenzhen/1930.json
/target/test-classes/data/wenzhen/1931.json
/target/test-classes/data/wenzhen/1932.json
/target/test-classes/data/wenzhen/1933.json
/target/test-classes/data/wenzhen/1934.json
/target/test-classes/data/wenzhen/1935.json
/target/test-classes/data/wenzhen/1936.json
/target/test-classes/data/wenzhen/1937.json
/target/test-classes/data/wenzhen/1938.json
/target/test-classes/data/wenzhen/1939.json
/target/test-classes/data/wenzhen/1940.json
/target/test-classes/data/wenzhen/1941.json
/target/test-classes/data/wenzhen/1942.json
/target/test-classes/data/wenzhen/1943.json
/target/test-classes/data/wenzhen/1944.json
/target/test-classes/data/wenzhen/1945.json
/target/test-classes/data/wenzhen/1946.json
/target/test-classes/data/wenzhen/1947.json
/target/test-classes/data/wenzhen/1948.json
/target/test-classes/data/wenzhen/1949.json
/target/test-classes/data/wenzhen/1950.json
/target/test-classes/data/wenzhen/1951.json
/target/test-classes/data/wenzhen/1952.json
/target/test-classes/data/wenzhen/1953.json
/target/test-classes/data/wenzhen/1954.json
/target/test-classes/data/wenzhen/1955.json
/target/test-classes/data/wenzhen/1956.json
/target/test-classes/data/wenzhen/1957.json
/target/test-classes/data/wenzhen/1958.json
/target/test-classes/data/wenzhen/1959.json
/target/test-classes/data/wenzhen/1960.json
/target/test-classes/data/wenzhen/1961.json
/target/test-classes/data/wenzhen/1962.json
/target/test-classes/data/wenzhen/1963.json
/target/test-classes/data/wenzhen/1964.json
/target/test-classes/data/wenzhen/1965.json
/target/test-classes/data/wenzhen/1966.json
/target/test-classes/data/wenzhen/1967.json
/target/test-classes/data/wenzhen/1968.json
/target/test-classes/data/wenzhen/1969.json
/target/test-classes/data/wenzhen/1970.json
/target/test-classes/data/wenzhen/1971.json
/target/test-classes/data/wenzhen/1972.json
/target/test-classes/data/wenzhen/1973.json
/target/test-classes/data/wenzhen/1974.json
/target/test-classes/data/wenzhen/1975.json
/target/test-classes/data/wenzhen/1976.json
/target/test-classes/data/wenzhen/1977.json
/target/test-classes/data/wenzhen/1978.json
/target/test-classes/data/wenzhen/1979.json
/target/test-classes/data/wenzhen/1980.json
/target/test-classes/data/wenzhen/1981.json
/target/test-classes/data/wenzhen/1982.json
/target/test-classes/data/wenzhen/1983.json
/target/test-classes/data/wenzhen/1984.json
/target/test-classes/data/wenzhen/1985.json
/target/test-classes/data/wenzhen/1986.json
/target/test-classes/data/wenzhen/1987.json
/target/test-classes/data/wenzhen/1988.json
/target/test-classes/data/wenzhen/1989.json
/target/test-classes/data/wenzhen/1990.json
/target/test-classes/data/wenzhen/1991.json
/target/test-classes/data/wenzhen/1992.json
/target/test-classes/data/wenzhen/1993.json
/target/test-classes/data/wenzhen/1994.json
/target/test-classes/data/wenzhen/1995.json
/target/test-classes/data/wenzhen/1996.json
/target/test-classes/data/wenzhen/1997.json
/target/test-classes/data/wenzhen/1998.json
/target/test-classes/data/wenzhen/1999.json
/target/test-classes/data/wenzhen/2000.json
/target/test-classes/data/wenzhen/2001.json
/target/test-classes/data/wenzhen/2002.json
/target/test-classes/data/wenzhen/2003.json
/target/test-classes/data/wenzhen/2004.json
/target/test-classes/data/wenzhen/2005.json
/target/test-classes/data/wenzhen/2006.json
/target/test-classes/data/wenzhen/2007.json
/target/test-classes/data/wenzhen/2008.json
/target/test-classes/data/wenzhen/2009.json
/target/test-classes/data/wenzhen/2010.json
/target/test-classes/data/wenzhen/2011.json
/target/test-classes/data/wenzhen/2012.json
/target/test-classes/data/wenzhen/2013.json
/target/test-classes/data/wenzhen/2014.json
/target/test-classes/data/wenzhen/2015.json
/target/test-classes/data/wenzhen/2016.json
/target/test-classes/data/wenzhen/2017.json
/target/test-classes/data/wenzhen/2018.json
/target/test-classes/data/wenzhen/2019.json
/target/test-classes/data/wenzhen/2020.json
/target/test-classes/data/wenzhen/2021.json
/target/test-classes/data/wenzhen/2022.json
/target/test-classes/data/wenzhen/2023.json
/target/test-classes/data/wenzhen/2024.json
/target/test-classes/data/wenzhen/2025.json
/target/test-classes/data/wenzhen/2026.json
/target/test-classes/data/wenzhen/2027.json
/target/test-classes/data/wenzhen/2028.json
/target/test-classes/data/wenzhen/2029.json
/target/test-classes/data/wenzhen/2030.json
/target/test-classes/data/wenzhen/2031.json
/target/test-classes/data/wenzhen/2032.json
/target/test-classes/data/wenzhen/2033.json
/target/test-classes/data/wenzhen/2034.json
/target/test-classes/data/wenzhen/2035.json
/target/test-classes/data/wenzhen/2036.json
/target/test-classes/data/wenzhen/2037.json
/target/test-classes/data/wenzhen/2038.json
/target/test-classes/data/wenzhen/2039.json
/target/test-classes/data/wenzhen/2040.json
/target/test-classes/data/wenzhen/2041.json
/target/test-classes/data/wenzhen/2042.json
/target/test-classes/data/wenzhen/2043.json
/target/test-classes/data/wenzhen/2044.json
/target/test-classes/data/wenzhen/2045.json
/target/test-classes/data/wenzhen/2046.json
/target/test-classes/data/wenzhen/2047.json
/target/test-classes/data/wenzhen/2048.json
/target/test-classes/data/wenzhen/2049.json
/target/test-classes/data/wenzhen/2050.json
/target/test-classes/data/wenzhen/2051.json
/target/test-classes/data/wenzhen/2052.json
/target/test-classes/data/wenzhen/2053.json
/target/test-classes/data/wenzhen/2054.json
/target/test-classes/data/wenzhen/2055.json
/target/test-classes/data/wenzhen/2056.json
/target/test-classes/data/wenzhen/2057.json
/target/test-classes/data/wenzhen/2058.json
/target/test-classes/data/wenzhen/2059.json
/target/test-classes/data/wenzhen/2060.json
/target/test-classes/data/wenzhen/2061.json
/target/test-classes/data/wenzhen/2062.json
/target/test-classes/data/wenzhen/2063.json
/target/test-classes/data/wenzhen/2064.json
/target/test-classes/data/wenzhen/2065.json
/target/test-classes/data/wenzhen/2066.json
/target/test-classes/data/wenzhen/2067.json
/target/test-classes/data/wenzhen/2068.json
/target/test-classes/data/wenzhen/2069.json
/target/test-classes/data/wenzhen/2070.json
/target/test-classes/data/wenzhen/2071.json
/target/test-classes/data/wenzhen/2072.json
/target/test-classes/data/wenzhen/2073.json
/target/test-classes/data/wenzhen/2074.json
/target/test-classes/data/wenzhen/2075.json
/target/test-classes/data/wenzhen/2076.json
/target/test-classes/data/wenzhen/2077.json
/target/test-classes/data/wenzhen/2078.json
/target/test-classes/data/wenzhen/2079.json
/target/test-classes/data/wenzhen/2080.json
/target/test-classes/data/wenzhen/2081.json
/target/test-classes/data/wenzhen/2082.json
/target/test-classes/data/wenzhen/2083.json
/target/test-classes/data/wenzhen/2084.json
/target/test-classes/data/wenzhen/2085.json
/target/test-classes/data/wenzhen/2086.json
/target/test-classes/data/wenzhen/2087.json
/target/test-classes/data/wenzhen/2088.json
/target/test-classes/data/wenzhen/2089.json
/target/test-classes/data/wenzhen/2090.json
/target/test-classes/data/wenzhen/2091.json
/target/test-classes/data/wenzhen/2092.json
/target/test-classes/data/wenzhen/2093.json
/target/test-classes/data/wenzhen/2094.json
/target/test-classes/data/wenzhen/2095.json
/target/test-classes/data/wenzhen/2096.json
/target/test-classes/data/wenzhen/2097.json
/target/test-classes/data/wenzhen/2098.json
/target/test-classes/data/wenzhen/2099.json
/target/apidocs/allclasses-frame.html
/target/apidocs/allclasses-noframe.html
/target/apidocs/run/zhinan/time/base/class-use/BaseDate.html
/target/apidocs/run/zhinan/time/base/BaseDate.html
/target/apidocs/run/zhinan/time/base/class-use/BaseDateTime.html
/target/apidocs/run/zhinan/time/base/BaseDateTime.html
/target/apidocs/run/zhinan/time/format/class-use/BaseDateTimeParser.html
/target/apidocs/run/zhinan/time/format/BaseDateTimeParser.html
/target/apidocs/run/zhinan/time/base/class-use/BaseYear.html
/target/apidocs/run/zhinan/time/base/BaseYear.html
/target/apidocs/run/zhinan/time/format/class-use/CHINESE_NUMBER.html
/target/apidocs/run/zhinan/time/format/CHINESE_NUMBER.html
/target/apidocs/run/zhinan/time/class-use/ChineseCalendar.html
/target/apidocs/run/zhinan/time/ChineseCalendar.html
/target/nexus-staging/deferred/run/zhinan/ChineseCalendar/1.0.5-SNAPSHOT/ChineseCalendar-1.0.5-SNAPSHOT.jar.asc
/target/ChineseCalendar-1.0.5-SNAPSHOT.jar.asc
/target/nexus-staging/deferred/run/zhinan/ChineseCalendar/1.0.5-SNAPSHOT/ChineseCalendar-1.0.5-SNAPSHOT.pom
/target/ChineseCalendar-1.0.5-SNAPSHOT.pom
/target/nexus-staging/deferred/run/zhinan/ChineseCalendar/1.0.5-SNAPSHOT/ChineseCalendar-1.0.5-SNAPSHOT.pom.asc
/target/ChineseCalendar-1.0.5-SNAPSHOT.pom.asc
/target/nexus-staging/deferred/run/zhinan/ChineseCalendar/1.0.5-SNAPSHOT/ChineseCalendar-1.0.5-SNAPSHOT-javadoc.jar.asc
/target/ChineseCalendar-1.0.5-SNAPSHOT-javadoc.jar.asc
/target/nexus-staging/deferred/run/zhinan/ChineseCalendar/1.0.5-SNAPSHOT/ChineseCalendar-1.0.5-SNAPSHOT-sources.jar.asc
/target/ChineseCalendar-1.0.5-SNAPSHOT-sources.jar.asc
/.idea/artifacts/ChineseCalendar_jar.xml
/target/apidocs/run/zhinan/time/chrono/class-use/ChineseChronology.html
/target/apidocs/run/zhinan/time/chrono/ChineseChronology.html
/.idea/compiler.xml
/target/apidocs/constant-values.html
/target/apidocs/run/zhinan/time/format/class-use/DATE_NAME.html
/target/apidocs/run/zhinan/time/format/DATE_NAME.html
/target/apidocs/run/zhinan/time/base/class-use/DateTimeHolder.html
/target/apidocs/run/zhinan/time/base/DateTimeHolder.html
/target/apidocs/run/zhinan/time/format/class-use/DateTimeParser.html
/target/apidocs/run/zhinan/time/format/DateTimeParser.html
/target/apidocs/run/zhinan/time/solar/class-use/Day.html
/target/apidocs/run/zhinan/time/solar/Day.html
/target/apidocs/deprecated-list.html
/target/apidocs/run/zhinan/time/format/class-use/DiZhiTimeParser.html
/target/apidocs/run/zhinan/time/format/DiZhiTimeParser.html
/.idea/encodings.xml
/target/apidocs/run/zhinan/time/util/class-use/FileUtil.html
/target/apidocs/run/zhinan/time/util/FileUtil.html
/target/apidocs/run/zhinan/time/ganzhi/class-use/Gan.html
/target/apidocs/run/zhinan/time/ganzhi/Gan.html
/target/apidocs/run/zhinan/time/ganzhi/class-use/GanZhi.html
/target/apidocs/run/zhinan/time/ganzhi/GanZhi.html
/target/apidocs/run/zhinan/time/ganzhi/class-use/GanZhiDate.html
/target/apidocs/run/zhinan/time/ganzhi/GanZhiDate.html
/target/apidocs/run/zhinan/time/ganzhi/class-use/GanZhiDateTime.html
/target/apidocs/run/zhinan/time/ganzhi/GanZhiDateTime.html
/target/surefire-reports/GanZhiTest.txt
/target/apidocs/run/zhinan/time/ganzhi/class-use/GanZhiYear.html
/target/apidocs/run/zhinan/time/ganzhi/GanZhiYear.html
/target/apidocs/help-doc.html
/target/apidocs/index.html
/target/apidocs/index-all.html
/.idea/jarRepositories.xml
/target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
/target/apidocs/run/zhinan/time/lunar/class-use/LunarDate.html
/target/apidocs/run/zhinan/time/lunar/LunarDate.html
/target/apidocs/run/zhinan/time/format/class-use/LunarDateParser.html
/target/apidocs/run/zhinan/time/format/LunarDateParser.html
/target/apidocs/run/zhinan/time/lunar/class-use/LunarDateTime.html
/target/apidocs/run/zhinan/time/lunar/LunarDateTime.html
/target/apidocs/run/zhinan/time/format/class-use/LunarDateTimeParser.html
/target/apidocs/run/zhinan/time/format/LunarDateTimeParser.html
/target/apidocs/run/zhinan/time/lunar/class-use/LunarMonth.html
/target/apidocs/run/zhinan/time/lunar/LunarMonth.html
/target/apidocs/run/zhinan/time/lunar/class-use/LunarTerm.html
/target/apidocs/run/zhinan/time/lunar/LunarTerm.html
/target/classes/data/lunarTermData.json
/target/surefire-reports/LunarTest.txt
/target/apidocs/run/zhinan/time/lunar/class-use/LunarYear.html
/target/apidocs/run/zhinan/time/lunar/LunarYear.html
/target/maven-javadoc-plugin-stale-data.txt
/target/nexus-staging/deferred/run/zhinan/ChineseCalendar/1.0.5-SNAPSHOT/maven-metadata-nexus.xml
/target/nexus-staging/deferred/run/zhinan/ChineseCalendar/maven-metadata-nexus.xml
/.idea/libraries/Maven__com_alibaba_fastjson2_fastjson2_2_0_7_graal.xml
/.idea/libraries/Maven__com_alibaba_fastjson2_fastjson2_extension_2_0_7_graal.xml
/.idea/libraries/Maven__com_alibaba_fastjson_2_0_7_graal.xml
/.idea/libraries/Maven__junit_junit_4_13_2.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/misc.xml
/.idea/modules.xml
/target/apidocs/run/zhinan/time/format/class-use/MONTH_NAME.html
/target/apidocs/run/zhinan/time/format/MONTH_NAME.html
/target/apidocs/run/zhinan/time/format/class-use/NumberStyle.html
/target/apidocs/run/zhinan/time/format/NumberStyle.html
/target/apidocs/overview-frame.html
/target/apidocs/overview-summary.html
/target/apidocs/overview-tree.html
/target/apidocs/run/zhinan/time/base/package-frame.html
/target/apidocs/run/zhinan/time/chrono/package-frame.html
/target/apidocs/run/zhinan/time/format/package-frame.html
/target/apidocs/run/zhinan/time/ganzhi/package-frame.html
/target/apidocs/run/zhinan/time/lunar/package-frame.html
/target/apidocs/run/zhinan/time/solar/package-frame.html
/target/apidocs/run/zhinan/time/util/package-frame.html
/target/apidocs/run/zhinan/time/package-frame.html
/target/apidocs/package-list
/target/javadoc-bundle-options/package-list
/target/apidocs/run/zhinan/time/base/package-summary.html
/target/apidocs/run/zhinan/time/chrono/package-summary.html
/target/apidocs/run/zhinan/time/format/package-summary.html
/target/apidocs/run/zhinan/time/ganzhi/package-summary.html
/target/apidocs/run/zhinan/time/lunar/package-summary.html
/target/apidocs/run/zhinan/time/solar/package-summary.html
/target/apidocs/run/zhinan/time/util/package-summary.html
/target/apidocs/run/zhinan/time/package-summary.html
/target/apidocs/run/zhinan/time/base/package-tree.html
/target/apidocs/run/zhinan/time/chrono/package-tree.html
/target/apidocs/run/zhinan/time/format/package-tree.html
/target/apidocs/run/zhinan/time/ganzhi/package-tree.html
/target/apidocs/run/zhinan/time/lunar/package-tree.html
/target/apidocs/run/zhinan/time/solar/package-tree.html
/target/apidocs/run/zhinan/time/util/package-tree.html
/target/apidocs/run/zhinan/time/package-tree.html
/target/apidocs/run/zhinan/time/base/package-use.html
/target/apidocs/run/zhinan/time/chrono/package-use.html
/target/apidocs/run/zhinan/time/format/package-use.html
/target/apidocs/run/zhinan/time/ganzhi/package-use.html
/target/apidocs/run/zhinan/time/lunar/package-use.html
/target/apidocs/run/zhinan/time/solar/package-use.html
/target/apidocs/run/zhinan/time/util/package-use.html
/target/apidocs/run/zhinan/time/package-use.html
/target/maven-archiver/pom.properties
/.idea/runConfigurations.xml
/target/apidocs/script.js
/target/apidocs/run/zhinan/time/solar/class-use/SolarDate.html
/target/apidocs/run/zhinan/time/solar/SolarDate.html
/target/apidocs/run/zhinan/time/solar/class-use/SolarDateTime.html
/target/apidocs/run/zhinan/time/solar/SolarDateTime.html
/target/apidocs/run/zhinan/time/base/class-use/SolarLunarData.html
/target/apidocs/run/zhinan/time/base/SolarLunarData.html
/target/apidocs/run/zhinan/time/solar/class-use/SolarMonth.html
/target/apidocs/run/zhinan/time/solar/SolarMonth.html
/target/apidocs/run/zhinan/time/solar/class-use/SolarTerm.html
/target/apidocs/run/zhinan/time/solar/SolarTerm.html
/target/classes/data/solarTermData.json
/target/surefire-reports/SolarTermTest.txt
/target/apidocs/run/zhinan/time/solar/class-use/SolarYear.html
/target/apidocs/run/zhinan/time/solar/SolarYear.html
/target/apidocs/stylesheet.css
/target/surefire-reports/TEST-GanZhiTest.xml
/target/surefire-reports/TEST-LunarTest.xml
/target/surefire-reports/TEST-SolarTermTest.xml
/target/test-classes/data/testData.json
/.idea/uiDesigner.xml
/target/apidocs/run/zhinan/time/ganzhi/class-use/Xun.html
/target/apidocs/run/zhinan/time/ganzhi/Xun.html
/target/apidocs/run/zhinan/time/ganzhi/class-use/Zhi.html
/target/apidocs/run/zhinan/time/ganzhi/Zhi.html
